Класс Lecturer - описание преподавателей
Класс Sex - описание полов и падежей местоимений
Класс Students - описание студентов
Класс Person - конструкторы персоны и тд
Класс Args - Данные персон из таблицы
Класс LecturesDegree - константы Уч. степени Преподавателей

Класс StudentsStage - константы ступеней студентов
